@import "tailwindcss";

  .header {
    @apply w-full h-20 px-6 flex items-center justify-between
           bg-slate-900/70 backdrop-blur border-b border-white/10;
  }

  .logo img {
    @apply h-12 w-[128px] select-none;
  }

  .nav-list {
    @apply list-none flex items-center gap-6;
  }

  .nav-link {
    @apply text-slate-100 font-semibold tracking-wide
           hover:text-emerald-300 transition-colors;
  }

  .btn-login {
    @apply px-4 py-2 rounded-lg font-semibold
           bg-emerald-500 text-slate-950
           hover:bg-emerald-400 transition-colors;
  }


  @font-face {
  font-family: 'RickAndMorty';
  src: url('../../src/fonts/get_schwifty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

